@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Nanum+Pen+Script&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    font-family: 'Nanum Pen Script', cursive;
}   
body
{
    background-image : url('http://www.zingerbugimages.com/backgrounds/white_construction_paper_seamless.jpg');
    width: 190px;
    margin: 0 auto;
}

div.wrap {
    width: 1000px;
    margin: 0 auto;
}

h1
{
    position: absolute;
    left: 250px;   
    top: 40px;
}

h2
{
    position: absolute;
    transform: translateX(140px);
    top: 43px;
    font-size: 32px;
}



.pas
{
    position: absolute;
    font-size: 30px;
    left: 40px;
    top: 120px;
    transform: rotate(-5deg);
}

.atr
{
    position: absolute;
    font-size: 30px;
    left: 300px;
    top: 100px;
    transform: rotate(-10deg);
}

.ges
{
    position: absolute;
    font-size: 30px;
    left: 100px;
    top: 300px;
    transform: rotate(2deg);
}

.bgs
{
    position: absolute;
    font-size: 30px;
    left: 400px;
    top: 200px;
    transform: rotate(10deg);
}

.dms
{
    position: absolute;
    font-size: 30px;
    left: 120px;
    top: 200px;
    transform: rotate(4deg);
}

.elu
{
    position: relative;
    left: 900px;
    bottom: -100px;
}

.ges2
{
    position: absolute;
    font-size: 30px;
    left: 100px;
    top: 400px;
    transform: rotate(-5deg);
}

.atr2
{
    position: absolute;
    font-size: 30px;
    left: 350px;
    top: 300px;
    transform: rotate(10deg);
}

.dms2
{
    position: absolute;
    font-size: 30px;
    left: 340px;
    top: 500px;
    transform: rotate(5deg);
}

.list
{
    position: absolute;
    left: 1040px;
    top: 100px;
    font-size: 30px;
}
